body {
    background-image: url(./photos/clouds-background.jpeg);
    background-repeat: repeat; 
    background-attachment: fixed;
}  

.card {
    margin: 5px; 
}

.navbar {
    margin: 5px;
    padding: 10px;
}